/* Navbar */
.navbar {
  width: 100%;
  background: #111;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: 50px;
}

.navbar-scrolled {
  background-color: rgba(36, 35, 35, 0.85);  
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Logo Section */
.logo-section {
  display: flex;
  align-items: center;  
  gap: 0.5rem;         
  cursor: pointer;
}

.logo-section img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0;  
}

.navbar-logo {
  font-weight: 700;
  font-size: 1.5rem;
}


.navbar-links {
  display: flex;
  gap: 2rem;
  margin-left: -50px;
}

.navbar-links button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  transition: color 0.2s ease;
}

.navbar-links button:hover {
  color: #7c7b79;
}

.navbar-actions {
  display: flex;
  gap: 1rem;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.nav-btn {
  padding: 0.75rem 0.7rem;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-btn-primary {
  background: #a3052c;
  color: #fff;
  border: none;
}

.nav-btn-primary:hover {
  background: #a3052c;
}

.nav-btn-outline {
  background: #fff;
  color: #000;
  border: 1px solid #d1d5db;
}

.nav-btn-outline:hover {
  background: #f9fafb;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-actions {
    display: none;
  }
}
